*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: red;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary1: 'Comfortaa', cursive;
    --ff-primary2: 'DM Mono', monospace;
    --ff-primary3: 'Work Sans', sans-serif;
    --ff-accent: 'Lexend', sans-serif;

    --fw-p-reg: 300;
    --fw-p-bold: 500;
}

/* ==== Introduction Section ==== */
/* Mobile ver */

.introduction {
    margin-top: 2rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    /* text-align: justify; */
}

p {
    font-family: var(--ff-primary3);
    font-size: 1.6rem;
    font-weight: var(--fw-p-reg);

    line-height: 3rem;
}

strong {
    font-weight: var(--fw-p-bold);
}


/* Desktop ver */
@media (min-width: 47em) {
    .introduction {
        margin-top: 6rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    p {
    font-family: var(--ff-primary3);
    font-size: 3.5rem;
    font-weight: var(--fw-p-reg);

    line-height: 6rem;
    }

    strong {
        font-weight: var(--fw-p-bold);
    }
}
